.headerContainer {
    height: 90px;
    width: 100%;
    display: flex;
    color: #000;
    padding: 1em;
}

.headerItemGroup {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerItemGroup:nth-child(2) {
    flex: 1;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: bold;
}

.headerMenu {
    cursor: pointer;
}

.headerShareMenu {
    display: flex;
    cursor: pointer;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .headerItemGroup:nth-child(2) {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {

    .headerContainer {
        padding: 0;
    }

    .headerItemGroup:nth-child(2) {
        font-size: 12px;
        min-width: 80px;
    }
}